
<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi página estilo MercadoLibre</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/register.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/157adaf284.js" crossorigin="anonymous"></script>
</head>

<body>

   <header class="header">
    <div class= "main-head-top">
    <img class ="logo" src="/images/logo-mercado-liebre.svg" alt="Logo">
    <h2 class="buy-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
    </div>
    
  <div class="navbar-search">
    <input type="text" placeholder="Buscar">
  <button type="submit">Buscar</button>
  </div>
  
  <a href="#" class="hamburguer-boton"><i class="fa-solid fa-bars"></i></a>

  <nav class="main-navbar">
    
        <ul class="left-navbar">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
          
        </ul>
          
        <ul class="right-navbar">
          <li><a href="/registro"><i class="fa-solid fa-address-card"></i> Creá tu cuenta </a></li>
          <li><a href="/login"><i class="fa-solid fa-arrow-right-to-bracket"> </i>Ingresá</a></li>
          <li><a href="#"><i class="fa-solid fa-warehouse"></i> Mis compras</a></li>
        </ul>



  </nav>
  </header>


<main>
<form action="registro.html" method="post" class="form">
  <div class="formulario">
      <input type="text" name="nombre" placeholder="Nombre y apellido" minlength="3" class="control" required>
  </div>
  <div class="formulario">
      <input type="text" name="usuario" placeholder="Nombre de usuario" class="control" required>
  </div>
  <div class="formulario">
      <input type="email" name="email" placeholder="E-mail" class="control" required>
  </div>
  <div class="formulario">
      <h3>Fecha de nacimiento</h3>
      <input type="date" name="edad" min='1900-01-01' max="2010-01-01" class="control">
  </div>
  <div class="formulario">
      <input type="text" name="domicilio" placeholder="Domicilio" class="control">
  </div>
  <div class="formulario">
      <h3>Perfil del usuario</h3>
      <label class="radio"><input type="radio" name="perfil" ></input>Comprador</label>
      <label class="radio"><input type="radio" name="perfil" ></input>Vendedor</label>
  </div>
  <div class="formulario">
      <h3>Intereses</h3>
      <label class="checkbox"><input type="checkbox" name="categoria" value="electro"></input>Electro</label>
      <br>
      <label class="checkbox"><input type="checkbox" name="categoria" value="moda"></input>Moda</label>
      <br>
      <label class="checkbox"><input type="checkbox" name="categoria" value="hogar"></input>Hogar</label>
      <br>
      <label class="checkbox"><input type="checkbox" name="categoria" value="jugeteria"></input>Jugetería</label>
      <br>
      <label class="checkbox"><input type="checkbox" name="categoria" value="vidaSana"></input>Vida sana</label>
  </div>
  <div class="formulario">
      <h3>Foto de usuario</h3>
      <input type="file" name="fotoUsuario" accept=".jpg, .png" class="control"></input>
  </div>
  <div class="formulario">
      <h3>Clave</h3>
      <input type="password" name="contrasena" placeholder="Contraseña" class="control" required>
  </div>
  <div class="formulario">
      <input type="password" name="Ccontrasena" placeholder="Confirmar contraseña" class="control" required>
  </div>
  <button type="submit" class="boton-formulario">Enviar</button>
  <button type="reset" class="boton-formulario">Borrar</button>
</form>
</main>


<footer>


  <div class="elemento-footer">
    <div class="info-tarjeta">
      <div class="img-footer">
        <i class="fa-solid fa-credit-card"></i>
      </div>
      <h2>Paga con tarjeta o efectivo</h2>
      <p>Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </div>
      <div class="info-tarjeta">
      <div class="imagen-footer">
        <i class="fa-solid fa-gift"></i>
      </div>
      <h2>Envío gratis desde $ 2.500</h2>
      <p>Solo por estar registrado en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </div>
      <div class="info-tarjeta">
        <div class="imagen-footer">
        <i class="fa-solid fa-user-shield"></i>
      </div>
      <h2>Seguridad, de principio a fin</h2>
      <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre, no hay nada que no puedas hacer, porque estás siempre protegido. </p>
    </div>
  </div>

</footer>
</body>
</html>


